/* element.style {

} */

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
} 

body {
  line-height: 1.7em;
  color: brown;
}

table {
  width: 75%;
  column-width: 25%;
  height: inherit;
  margin: auto;
  border-style: solid;
}

caption {
  padding-top: 18%;
  color: yellow;
}

th {
  background-color: salmon;
}

tr {
  height: 30px;
}