/* element.style {

} */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
} 
    head {
    display: none;
}

body {
    line-height: 1.7em;
    color: brown;
}
.splash-container {
    z-index: -100;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top:  0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100%, 0, 0;
    text-align: center; 
}

#myVideo { 
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.viewpoint-header {
    position: relative;
    color: brown;
}

.fieldset {
    display: inline-block;
    text-align: center;
}

form {
    background-color: tomato;
    margin: 0 auto;
    text-align: center;
}

