/* element.style {

} */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
} 

body {
    line-height: 1.7em;
    color: brown;
}
.splash-container {
    z-index: -100;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top:  0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    text-align: center; 
}

#myVideo { 
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.viewpoint-header {
    position: relative;
    color: brown;
}

.fieldset {
    display: inline-block;
    text-align: center;
}

form {
    width: 60%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-align: center;
}

.footer {
    background-color: brown;
    color: yellow;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
}

.l-box {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

