/* element.style {

} */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
} 

body {
    line-height: 1.7em;
    color: brown;
}
.splash-container {
    z-index: -100;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top:  0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    text-align: center; 
}

.splash-head {
    font-size: 2.5em;
    color: darkolivegreen;
}

#myVideo { 
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.viewpoint-header {
    display: block;
    position: relative;
    background-color: orange;
    color: brown;
}

.pure-menu-horizontal {
    background-color: orangered;
    color: yellow;
    position: fixed;
    bottom: 0;
    height: 15%;
    width: 100%;
}

.splash-head {
    text-align: center;
}

.splash-subhead {
    padding-top: 2%;
    text-align: center;
}

.pure-form {
    border-radius: 10px;
    border: solid;
    border-color: brown;
    padding: 2;
}

.fieldset {
    display: inline-block;
}

label {
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    margin-right:15px;
    float: left;
    padding-right: 1em;
    padding-left: 1em;
}

input {
    height: 35px;
    width: 150px;
    border: 1px solid #000;
    margin-top: 10px;
    position: relative;
    
}

form {
    width: 40%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 1.7;
    padding: .10em .05em .02em .05em;
}

submit {
    padding: 0, 4em, 0, 6em;
}

.footer {
    background-color: brown;
    position: fixed; 
    bottom: 0;
    height: 15%;
    width: 100%;
    margin-bottom: 0;
}

.footer-text {
    color: yellow;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}
